<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddUser</title>
</head>
<body>
    <h1>Enter Details</h1>
    <form method="post" action="/user/add">
        Enter id:<input type="text" name="id" >
        <br><br><br><br><br>
        Enter name:<input type="text" name="name" placeholder="enter name"><br><br><br><br>
        Enter email:<input type="text" name="email" placeholder="enter email"><br><br><br><br>
        Enter password:<input type="password" name="password" placeholder="enter password"><br><br><br><br>
        <button>Add</button>
    </form>
</body>
</html>